
.grid_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "a t u b"
    "c d e f"
    "g h i j"
    "k l m n"
    "s p o q";
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
}

.keyboard{
    padding-inline: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.resetar{
    grid-area: a;
}
.igualar{
    grid-area: q;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
}
.d{
    grid-area: d;
}
.e{
    grid-area: e;
}
.f{
    grid-area: f;
}
.g{
    grid-area: g;
}
.h{
    grid-area: h;
}
.i{
    grid-area: i;
}
.j{
    grid-area: j;
}
.k{
    grid-area: k;
}
.l{
    grid-area: l;
}
.m{
    grid-area: m;
}
.n{
    grid-area: n;
}
.o{
    grid-area: o;
}
.p{
    grid-area: p;
}

.v{
    grid-area: v;
}

.t{
    grid-area: t;
}

.u{
    grid-area: u;
}

.mode{
    grid-area: r;
}
.dot{
    grid-area: s;
}

.o img{
    width: 20px;
    opacity: 0.5; 
}

.r img{
    width: 20px;
    opacity: 0.7; 
}

.mode img{
    width: 30px;
}

 /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;*/
